{% extends 'base.html.twig' %}

{% block title %}Account{% endblock %}

{% block body %}

    <h1>Ici les infortmations du compte</h1>

    {% if app.user %}
        <div class="mb-3">
            Tu es connecté sur {{ app.user.username }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

{% endblock %}
