{% extends 'base.html.twig' %}
{% block title %}Eat D@q FooD (Accueil){% endblock %}
{% block body %}

    <div class="relative relative-flex">

<div class="title-box">
    <!-- slogan pour ma page -->
    <p>Des petits plats tout en douceur</p>
</div>
    </div>

{% endblock %}