{% extends 'base.html.twig' %}
{% block title %}Eat D@q FooD (Accueil){% endblock %}
{% block body %}

    <div class="relative relative-flex">
        <div class="home_big_title">Eat D@Q FooD</div>
                <!--********* Début Horaires Home **********-->

        <div class="block_horaires">
            <div class="home_horaires">
                   <div class="title_horaires">Horaires</div>
               <div class="home_text">
                   <ul>
                        <li><p>Lundi ouvert de 12h - 14h, 18h - 21h</p></li>
                        <li><p>Mardi ouvert de 12h - 14h, 18h - 21h</p></li>
                        <li><p>Mercredi ouvert de 12h - 14h, 18h - 21h</p></li>
                        <li><p>Jeudi ouvert de 12h - 14h, 18h - 21h</p></li>
                        <li><p>Vendredi ouvert de 12h - 14h</p></li>
                        <li><p>Samedi ouvert de 12h - 14h, 18h - 23h</p></li>
                        <li><p>Dimanche Fermé</p></li>
                   </ul>
               </div>
            </div>
        </div>                           <!--************** Fin Accueil Horaires ***************-->

        <div class="home_maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2686.63063442296!2d6.5090957158290825!3d47.67217149143874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47925b1b16e0d6c7%3A0x3c3a5803915f9356!2sOnlineformapro!5e0!3m2!1sfr!2sfr!4v1634028123753!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
    </div>


{% endblock %}