input {
  background-color: #cabed5;
  display: block;
  margin: 2%;
  padding: 2% 4%;
  width: 83%;
  border: none;

}
::placeholder {
  background-color: #cabed5;
}
.corps {

  display: flex;
  justify-content: space-around;
  width: 100%;
  border-radius: 30%;


}
.imag_inscription{
  border-radius: 20px;
  background: linear-gradient(145deg, #f0f0f0, #d2c9c9);
  box-shadow: 41px 41px 73px #6f6d6d, -41px -41px 73px #fffefe;
}



.container1 {
  display: grid;
  grid-template-columns: 1fr;
  width: 40%;
  border-radius: 57px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  41px 41px 73px #a4a4a4,
  -41px -41px 73px #ffffff;
}


.reg_form {
  text-align: center;
  font-size: 1em;
  padding-top: 2em;
  margin-top: 1em;
  padding-bottom: 1em;
}
.reg-email {
  margin-left: 4%;

}


.btn {
  width: 9em;
  height: 3em;
  color: white;
  margin: auto;
  border-radius: 15px;
  background: linear-gradient(145deg, #d2b82b, #f7bb0a);
  box-shadow:  41px 41px 73px #a4a4a4, -41px -41px 73px #dbdbdb;
}
label.required {

  margin : 1%;
}

.reg_text {
  text-align: center;
  margin-top: 15px;
}

.links {
  text-decoration: underline;
}


@media only screen and ( max-width : 768px) {
  .corps{
    flex-direction: column;
  }
  .container1{
    display: block;
    font-size: 77%;
    width: 90%;
    margin: 0;
    padding: 4%;
  }
  .content_img{
    margin-top: 7%;
  }
  .imag_inscription{
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .relative {
    flex-direction: column;
  }
}

