input {
  background-color: #cabed5;
  display: block;
  margin-top: 10px;
  padding: 2% 0%;
  width: 83%;
  border: none;

}
::placeholder {
  background-color: black;
}
.corps {

  display: flex;
  justify-content: space-around;
  width: 100%;
  border-radius: 30%;


}
.content_imag{
  border: 5px solid #F87F28;
  border-radius: 20px;

}

.container1 {
  width: 30em;
  height: 28em;
  padding-left: 3%;
  margin-top: 5em;
  margin-left: 11em;
  background-color: #ffffff;
  border-radius: 20px;
  display: block;
  border: 5px solid #F87F28;
}
.reg_form {
  text-align: center;
  font-size: 1em;
  padding-top: 2em;
  margin-top: 1em;
  padding-bottom: 1em;
}


.btn {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  background-size: 120% auto;
  background-image: linear-gradient(315deg, #bdc3c7 0%, #FB020E 75%);
  border: 2px solid #F87F28;

}
label.required {

  margin : 1%;
  padding: 1%;
}
.reg-agt {
  text-align: left;
}



@media only screen and ( max-width : 768px) {
  .corps{
    flex-direction: column;
  }
  .container1{
    display: block;
    font-size: 75%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .content_img{
    margin-top: 5%;
  }
  .imag_inscription{
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  .block-footer{
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    position: absolute;
    min-height: 100px;
  }
  .relative {
    flex-direction: column;
  }

}