.relative{
  @extend %flx;

}

/******** new ****/

.container_block {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 10%;
}

.panel_admin {
  text-align: center;
  width: 40%;
  border-radius: 16px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  41px 41px 73px #a4a4a4,
  -41px -41px 73px #ffffff;
  font-size: x-large;
  height: 20em;
}

.admin_title {
  margin-top: 2%;
}

.admin_text {
  line-height: 3em;
}






/******** end *******/
.admin_titre {
  text-align: center;
  margin-top: 9%;
  font-size: 73%;
}
.boutton_deconnecter {
  width: 8em;
  height: 2em;
  color: white;
  border-radius: 15px;
  background: linear-gradient(145deg, #d2b82b, #f7bb0a);
  box-shadow:  41px 41px 73px #a4a4a4, -41px -41px 73px #dbdbdb;
}






@media only screen and ( max-width : 768px) {
  .panel_admin {

    width: 95%;
  }


}
