.tableau{
  width: 80%;
}

table,
td, th, tr {
  border: 1px solid #333;
}

thead,
tfoot {
  background-color: #333;
  color: #fff;
}
.title {
  text-align: center;
}

table {
  border-collapse: collapse;
  border: 3px solid purple;
  font-size: 150%;
  margin: 2%;
  width: 90%;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  41px 41px 73px #a4a4a4,
  -41px -41px 73px #ffffff;

  }

caption {
  padding: 20px;
  letter-spacing: 1px;
  width: 11%;
  margin: auto;
}
.block_actions {
  display: flex;
  justify-content: center;
}

@media only screen and ( max-width : 768px) {
  table {
    font-size: 138%;
    width: 121%;
  }
  caption {
    text-align: center;
    width: 87%;
  }
  .tableau {
    width: 80%;
  }
  .quantity {
    display: flex;
    justify-content: center;
  }

  .tableau table thead {
    display: none;
  }
  .tableau table td {
    display: block;
    text-align: right;
  }
  .tableau table td:before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
  }
}

