
/************ C O M P T E -- D E -- C O N N E X I O N *************/


.compte_container {
  display: grid;
  grid-template-columns: 1fr;
  width: 40%;
  line-height: 5em;
  text-align: center;
  padding-top: 6%;
  padding-bottom: 6%;
  border-radius: 57px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  41px 41px 73px #a4a4a4,
  -41px -41px 73px #ffffff;
}

/********* Début Bouton Déconnecter ***********/

.compte-connexion {
  display: flex;
  flex-direction: column;
}


.boutton_deconnecter {
  width: 9em;
  height: 3em;
  color: white;
  border-radius: 15px;
  background: linear-gradient(145deg, #d2b82b, #f7bb0a);
  box-shadow:  41px 41px 73px #a4a4a4, -41px -41px 73px #dbdbdb;
}