
/* contact */

.relative {
  @extend %flx;
}
.contact_container {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 2%;
  border: 3px solid darkslateblue;
}

.contact_container_form {
  display: flex;
  flex-direction: column;
  width: 60em;

}

.btn-compte {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 2em;
}

.form-control {
  display: flex;
  justify-content: center;
}
