/* Début du footer */

.block-footer {
  width: 100%;
  background-color: #121212;
  color: white;
  padding:10px 0px 15px 0px;
  display: flex;
  align-items: end;
}

/* Fin du footer */

/* Début des applications */

.application {
  display: flex;
  justify-content: center;
  padding-left: 18em;
  padding-top: 4em;
}
.appli-apple {
  width: 8em;
}
.store {
  font-size: 100%;
  width: 7em;
  height: 3em;
}
.play {
  font-size:100%;
  width: 7em;
  height: 3em;
}

/* Fin des applications */

/* Début réseaux sociaux */

.sociaux {
  display: flex;
  width: 13%;
  justify-content: space-evenly;
  margin-left: 41em;
}

.facebook {
  @extend %reseau
}
.twitter {
  @extend %reseau
}
.instagram {
  @extend %reseau
}

/* Fin réseaux sociaux */

// ici commence les vecteurs

/* vector cercle footer 1 */

.vector-cercle-f1 {
  @extend %cercle;
  position: relative;
  width: 304px;
  height: 302px;
  left: -11em;
}
.vector-cercle-f2 {
  @extend %cercle2;
  width: 277px;
  height: 280px;
  top: 4px;
  left: 8px;
}
.vector-cercle-f3 {
  @extend %cercle2;
  width: 254px;
  height: 258px;
  top: 4px;
  left: 6px;
}
.vector-cercle-f4 {
  @extend %cercle2;
  width: 230px;
  height: 234px;
  top: 6px;
  left: 7px;
}
.vector-cercle-f5 {
  @extend %cercle2;
  width: 207px;
  height: 211px;
  top: 4px;
  left: 5px;
}
.vector-cercle-f6 {
  @extend %cercle2;
  width: 184px;
  height: 183px;
  top: 8px;
  left: 6px;
}
/* vector cercle footer 2 */
.img-vector2 {
  opacity: 50%;
  position:relative;
  left: -10%;
  top:0.85em;
}
/*vector cercle footer 3 */

.vector-cercle-f7 {
  @extend %cercle;
  width: 304px;
  height: 302px;
  position: relative;
}
.vector-cercle-f8 {
  @extend %cercle2;
  width: 277px;
  height: 280px;
  top: 4px;
  left: 8px;
}
.vector-cercle-f9 {
  @extend %cercle2;
  width: 254px;
  height: 258px;
  top: 4px;
  left: 6px;
}
.vector-cercle-f10 {
  @extend %cercle2;
  width: 230px;
  height: 234px;
  top: 6px;
  left: 7px;
}
.vector-cercle-f11 {
  @extend %cercle2;
  width: 207px;
  height: 211px;
  top: 4px;
  left: 5px;
}
.vector-cercle-f12 {
  @extend %cercle2;
  width: 184px;
  height: 183px;
  top: 8px;
  left: 6px;
}
/*vector footer 4

.cercle-footer-4 {
  position: absolute;
  top: 71em;
  left:95.5em;
}

 */

.footerVector{
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: end;
}

/* Fin des vecteurs */

@media screen and (max-width: 768px)  {

  /* Début du footer */

  /* Début des vecteurs */

  .footerVector{
    display: none;
  }

  /* Fin des vecteurs */

  .block-footer {
    display: inherit;
    position: relative;
  }

  /* Fin du footer */

  /* Début des applications */



  .appli-apple {
    position: relative;
    left: -5em;
  }
  .store {
    font-size: 50%;
    width: 4em;
    height: 2em;
  }
  .appli-google {
    position: relative;
    left: -12.5em;
  }
  .play {
    font-size:50%;
    width: 4em;
    height: 2em;
  }

  /* Fin des applications */

  /* Début des réseaux sociaux */

  .sociaux {
    width: 100%;
    margin-left: 0em;
    margin-top: 1em;

  }

  .facebook {
    @extend %reseau;
  }
  .twitter {
    @extend %reseau;
  }
  .instagram {
    @extend %reseau;
  }
/* Fin des réseaux sociaux */
}