%card {

    display: flex;
    align-items: center;
    width: 30%;
    position: relative;
    left: 50%;
  }

%c {
    position: absolute;
    top: 0;
    left: -12em;
    color: white;
    opacity: 10%;
    border-radius: 50%;
    border: 6px solid;
}
%c1 {
    position: relative;
    top: 4px;
    left: 8px;
    color: white;
    opacity: 100%;
    border-radius: 50%;
    border: 6px solid;
}
%c2 {
    position: relative;
    top: 4px;
    left: 6px;
    color: white;
    opacity: 100%;
    border-radius: 50%;
    border: 6px solid;
}
%c3 {
    position: relative;
    top: 6px;
    left: 7px;
    color: white;
    opacity: 100%;
    border-radius: 50%;
    border: 6px solid;
}
%c4 {
    position: relative;
    top: 4px;
    left: 5px;
    color: white;
    opacity: 100%;
    border-radius: 50%;
    border: 6px solid;
}
%c5 {
    position: relative;
    top: 8px;
    left: 6px;
    color: white;
    opacity: 100%;
    border-radius: 50%;
    border: 6px solid;
}

%post-form {
    background-color: white;
    width: 30em;
    height: 20em;
    position: relative;
    top: 10em;
    left: -6em;
    float: right;
    border-radius: 3%;
}
%titre-h3 {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}