%card {

    display: flex;
    align-items: center;
    width: 30%;
    position: relative;
    left: 50%;
  }

%post-form {
  display: grid;
  grid-template-columns: 1fr;
  width: 40%;
  border-radius: 57px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:  41px 41px 73px #a4a4a4,
  -41px -41px 73px #ffffff;

}
%titre-h1 {
    text-align: center;
    padding-bottom: 0.5em;
    font-family: Block Berthold, serif;
    font-size: 207%;
    padding-top: 60px;
  }


%flx {
     display: flex;
     justify-content: center;
  }


%reseau {
    width: 30px;
  }

%form-contact {
    width: 85%;
    background-color: #cabed5;;
    border: 3px solid darkslateblue;
    margin-bottom: 20px;
    margin-left: 67px;
    font-size: 120%;
    padding-top: 11px;
  }




