/* Page css home */


.relative {
  font-family: 'Secular One', sans-serif;
  background-color: #381B19;
  z-index: 1;
  color: #D7EFFD;
  position: relative;
}

.relative_flex {
  flex-direction: column;
}

/************* I M G  B U R G E R ****************/
.navbar_burger {
  width: 100%;
}


/************ D E B U T   H O M E   C O N T A I N E R ****************/

.home_container {
  @extend %flx;
  width: 100%;

}

.img-menu-home {
  width: 90%;
}

/*********** F I N   H O M E   C O N T A I N E R *****************/

.home_text {
  line-height: 35px;
}

/********* D E B U T   M A P S */

.home_maps {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  padding-top: 10%;

}

/******************* R E S P O N S I V E ***************************/

@media only screen and ( max-width : 768px) {

  /************************ T I T L E  *********************/
  .home_big_title {
    font-size: 279%;
    margin-bottom: 20px;
    text-align: center;
  }

  .navbar_burger {
    width: 100%;
  }



  .home_maps, .block_home_address, .home_horaires  {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: auto;
    margin-right: auto;
 }

  .home_maps {
    width: 90%;
  }

  .home_maps iframe{
    width: 100%;
  }

  .home_horaires {
    width: 100%;
    box-sizing: border-box;
  }
  .block_home_address {
    box-sizing: border-box;
    width: 100%;
    margin-top: 2%;
  }
  .home_title_address, .home_horaires {
    padding-top: 5%;
    margin-top: 2%;
  }

  .relative {
    padding-top: 6em;
    padding-bottom: 6em;
  }

}