.container {
  width: 100%;
}

.title-product {
  margin-top: 10%;
}

.fa-cart-plus {
  font-size: 2rem;

}


.con {
  flex-direction: column;
  border-radius: 5%;
  margin-left: 10%;
  background-color: rgb(65, 42, 42);
  width: 30%;
}
.propro{
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 1rem;
}
.products{
  display: flex;
}
.cadi{
padding-bottom: 10px;
}

.image {
  border-radius: 2%;
  height: 150px;
  

}


.relative {
  @extend %flx;
}

.propro .text-con:nth-of-type(2){
  color: red;
}