{% block title %}{% endblock %}

{% block body %}




    <h1>Liste des produits</h1>
    

    {% for product in products %}

    {% for categorie in product.category %}

    <p>{{ categorie.name }}</p>
    <p>{{ product.title }}</p>
    <p>{{ product.price }} €</p>
    <a href="{{ path('add_cart', {id: product.id}) }}">Ajouter au panier</a>



    {% endfor %}
    {% endfor %}
    


{% endblock %}