
@import "modules/variable";
@import "modules/heritage";
@import "modules/form";
@import "modules/register";

*{
    padding: 0;
    margin: 0;
}

body {
    background-color: #FB020E;
    width: 100%;
}


a {
    color: inherit;
    text-decoration: none;
}
