
@import "modules/variable";
@import "modules/heritage";
@import "modules/login";
@import "modules/footer";
@import "modules/register";
@import "modules/navbar";
@import "modules/home";
@import "modules/shop";
@import "modules/cart";
@import "modules/contact";
@import "modules/admin";
@import "modules/newCategorie";
@import "modules/compte";
<<<<<<< HEAD
@import "modules/products";
=======
@import "modules/category_index";
@import "modules/user_index";
@import "modules/order_index";

>>>>>>> 85153474cee7464e3448f217b00186cd7d1cc537



*{
    padding: 0;
    margin: 0;
}

body {
   background-color: #faf7f7;
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}