{% extends 'base.html.twig' %}
{% block body %}
<div class="relative">

    {{ form_start(form) }}
    {{ form_row(form.name) }}
    <button type="submit">Modifier la catégorie</button>
    {{ form_end(form) }}

</div>
{% endblock %}