{% extends 'base.html.twig'%}
{% block title %}Eat D@Q FooD (Contact){% endblock %}
{% block body %}


<div class="relative">

    <div class="contact_container">
        <div class="contact_form">

            <h1 class="h1">Contact</h1>

            <div class="contact_name">
                <p class="contact_text_name">Nom</p></div>

            <div class="contact_email">
                <p class="contact_text_email">Email</div>

            <div class="contact_message">
                <p class="contact_text_message">Message</div>

            <div class="btn-compte">
                <button class="css-button css-button-gradient css-button-gradient--3">Envoyer</button>
            </div>
        </div>
    </div>
    </div>


{% endblock body %}