<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
           {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>

    <div class="bus">
        <img src="img/logo.png" class="logo" alt="logo d'un bus de Londres">
    </div>
    <nav class="nav-navbar">
        <div class="container">
            <div class="test">
                <div class="navbar">
                    <button class="css-button css-button-gradient css-button-gradient--2">
                        Accueil
                    </button>
                </div>
                <div class="navbar">
                    <button class="css-button css-button-gradient css-button-gradient--2">Menu
                    </button>
                </div>
            </div>
            <div class="test2">
                <div class="navbar">
                    <button class="css-button css-button-gradient css-button-gradient--2">
                        Horaires
                    </button>
                </div>
                <div class="navbar">
                    <button class="css-button css-button-gradient css-button-gradient--2">
                        Contact
                    </button>
                </div>
                <div class="navbar">
                    <a href="{{ path('app_login') }}">
                        <button  class="css-button css-button-gradient css-button-gradient--2"> Login </button>
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <div class="vector-cercle">
        <div class="vector-cercle1">
            <div class="vector-cercle2">
                <div class="vector-cercle3">
                    <div class="vector-cercle4">
                        <div class="vector-cercle5"> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        {% block body %}{% endblock %}
    </body>
</html>
